{{!-- <div class="row park_row">

    <div class="col-sm-12 col-md-3 col-lg-3 col-12 park_img_col ">


        <img class="park_img">


        <div class="col-sm-12 col-md-9 col-lg-9 col-12 park_img_col">


            <div class="row park_info_col_top">


                <div class="col-6 park_title_div park_info_col_top_children">


                    <h1 class="park_name"></h1>


                </div>

                <div class="col-6 park_location_div park_info_col_top_children">


                    <h1 class="park_location"> </h1>


                </div>


            </div>


            <div class="row park_info_col_bottom">

                <p class="park_description"></p>

            </div>

        </div>


    </div>


</div> --}}


<!-- 
    The popularly searched parks are stored in 'popularParks' .
    This is an array of objects. Iterate through each object and
    render the park information
    1. Park Image
    2. Park Name
    3. Park Description
-->
{{#each popularParks}}
<div class="row park_row">

    <div class="col-sm-12 col-md-3 col-lg-3 col-12 park_img_col ">

        <!-- 
            This is a bit convoluted. Since parkImages is an array of URLs itself, we have to 
            again loop through the imagaes using #each. 
            We choose the first image.
        -->
        {{#each this.parkImages}}
            {{#if @first}}
                <img class="img-fluid park_img" src="{{this.url}}">
            {{/if}}
        {{/each}}

        <div class="col-sm-12 col-md-9 col-lg-9 col-12 park_img_col">


            <div class="row park_info_col_top">


                <div class="col-6 park_title_div park_info_col_top_children">


                    <h1 class="park_name">{{this.[parkName]}}</h1>


                </div>

                <div class="col-6 park_location_div park_info_col_top_children">


                    <h1 class="park_location">{{this.parkStates}} </h1>


                </div>


            </div>


            <div class="row park_info_col_bottom">

                <p class="park_description"> {{this.parkDescription}}</p>

            </div>

        </div>


    </div>

</div>

 
{{/each}}