

                        <div id="loginModal" class="modal">
                                <div class="login-Content">
                                    <span class="loginCloseButton">
                                        &times;
                                    </span>
                                </div>
                        </div>

                        <div class="row searchRow optionsRow">

                                <div class="col-12">

        
                                            <input type="text" placeholder="Search" class="searchInput">
        
                                            <div id="searchBy">
        
                                                <input type="checkbox" id="parameterRegion" class="searchParameters col-5" name="region"
                                                    value="region" checked>
        
                                            </div>
        
                                            <button id="searchButton">
                                                <!-- Icon for Searchbar -->
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                            </button>
        
        
                                </div>
                                
                        </div>

                        {{!-- <div class="row calendarRow optionsRow">

                                <div class="col-12">
        
                                    <!-- <div class="calendarWrapper row"> -->
        
        
                                            <div class="input-daterange " id="datepicker">
        
                                                <!-- Input fields for start and end date -->
                                                <input type="text" placeholder="Return Date" class="calendarInput">
        
                                                <input type="text" placeholder="Start Date" class="calendarInput2">
        
                                            
        
                                            <button class="calendarButton input-group-addon">
        
                                                <!-- Icon for the Calendar -->
                                                <i class="fas fa-calendar-alt"></i>
        
                                            </button>
        
                                            </div>
        
                                        
        
                                    <!-- </div> -->
        
        
                                </div>
        
                            </div> --}}



                            <div class="row loginRow optionsRow">

                                    <div class="col-12">
            
                                               
                                                <!-- Modal for login -->
        
            
                                                <button id="loginButton">
            
                                                    <!-- Icon for Login Modal -->
                                                    <i class="fas fa-user-alt"></i>
                                                </button>
            

            
            
                                    </div>
                                    
                            </div>


