<!DOCTYPE html>
<html>

{{>head}}

<body>

  <div class="container-fluid">
    <div id="viewport">

      <div class="row">
      
         {{{body}}}

         </div>
      
    </div>
  </div>

            {{!-- Bootstrap Javascript --}}
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

            {{!--Javascript for the page --}}
  {{#each jsFile}}
    <script src="/js/{{this}}.js"></script>
  {{/each}}


</body>
</html>