<div id="search_page" class= "div_clicked">

{{>SearchPage}}

</div>


<div id="results_page" class="div_clicked">


{{>ResultsPage}}

</div>


<div id="park_page" class="div_clicked">

{{>ParkProfile}}

</div>