<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Happy Camp[er]</title>
    <link rel="stylesheet" type="text/css" href="../public/css/landPage.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body>

  <ul>
      <li>
          <div class="content">
          <h2>Happy Camp[er]</h2>
          <section>Information on why our services matter and how we can best assist the user with their end goal of booking a trip</section>
          </div>
      </li>
      <li>
            <div class="content">
                    <h2>Take a Short trip! <i class="fas fa-campground"></i></h2>
                    <section>Information on how we can assist with short day to weekend trips trips</section>
                    </div>
      </li>
      <li>
            <div class="content">
                    <h2>Thinking of something longer... <i class="fas fa-campground"></i></h2>
                    <section>Information on how we can assist with week long trips</section>
                    </div>
      </li>
      <li>
            <div class="content">
                    <h2>Or even possibly an adventure! <i class="fas fa-campground"></i></h2>
                    <section>Information on how we can assist with any trip longer than a week</section>
                    </div>
      </li>
      <li>
            <div class="content">
                    <h2>Invite others to your trip! <i class="fas fa-user-friends"></i></h2>
                    <section>Information on how our site intuitivly allows users to invite others and share a list of different items that are recommended for the trip so everyone can make sure they have the correct supplies</section>
                    </div>
      </li>

      <h2> You've ventured a bit far...</h2>
  </ul>


    
</body>
</html>