<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content-slider="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content-slider="ie=edge">
    <title>Happy Camp[er]</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">
    </script>

    <link rel="stylesheet" href="../public/css/jquery-ui.css">
    <!-- <script src="../public/js/bootstrap-datepicker.js"></script>
    <link href="../public/css/bootstrap-datepicker.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="../public/css/landPage.css">
</head>

<body>

    <main id="mainPage">


        <!-- Search Page for choosing a location -->
        <section id="searchPage">

            <div class="content-slider" id="parkSearch">

                <div class="container">

                    <div class="row">

                        <div class="col-12">

                            <h2>Find a destination by</h2>

                        </div>

                    </div>

                    <div class="row searchRow">

                        <div class="col-12">

                            <div class="searchBarWrapper row">

                                <div class="search-box col-12">

                                    <input type="text" placeholder="Search" class="searchInput">

                                    <div id="searchBy">

                                        <input type="checkbox" id="parameterRegion" class="searchParameters col-5" name="region"
                                            value="region" checked>

                                    </div>

                                    <button id="searchButton">

                                        <!-- Icon for Searchbar -->
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </button>


                                </div>

                            </div>


                        </div>
                        
                    </div>

                    <div class="row calendarRow">

                        <div class="col-12">

                            <div class="calendarWrapper row">

                                <div class="search-box col-12">


                                    <div class="input-daterange " id="datepicker">

                                        <!-- Input fields for start and end date -->
                                        <input type="text" placeholder="Return Date" class="calendarInput">

                                        <input type="text" placeholder="Start Date" class="calendarInput2">

                                    

                                    <button class="calendarButton input-group-addon">

                                        <!-- Icon for the Calendar -->
                                        <i class="fas fa-calendar-alt"></i>

                                    </button>

                                    </div>

                                </div>

                            </div>


                        </div>

                    </div>

                </div>

            </div>

        </section>




        <!-- List Results page -->

        <section id="listResults">

            <div class="content-slider">


                <h2>Results <i class="fas fa-campground"></i></h2>


                <p>Information on how we can assist with short day to weekend trips trips</p>



            </div>


        </section>



        <!-- Park Profile Page -->

        <section id="parkProfile">

            <div class="content-slider">

                <h2>Thinking of something longer... <i class="fas fa-campground"></i></h2>

                <p>Information on how we can assist with week long trips</p>


            </div>


        </section>


    </main>



<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

<script src="../public/js/jquery-ui.js"></script>

<script src="../public/js/landPage.js"></script>

</body>

</html>
